<%- include("partials/header") -%>
  <h1 class='compose'><%= postTitleName %></h1>
  <p class='content2'><%= postContent %></p>
  <br><br>

  <a class="suggestion" href="/homeBlog/comments/<%= postTitleName %>"><button class="btn btn-danger" type="button" >Comments / Suggestions for this Blog Post.</button></a>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%- include("partials/footer") -%>
